@use '../utils/mixins';

/// @output align-content
$alignContentType: center, flex-start, flex-end, space-between, space-around,
  stretch, initial, inherit;

@include mixins.create-property-classes("align-content", $alignContentType);

/// @output align-items
$alignItemsType: baseline, center, flex-start, flex-end, stretch, initial,
  inherit;

@include mixins.create-property-classes("align-items", $alignItemsType);

/// @output align-self
$alignSelfType: auto, baseline, center, flex-start, flex-end, stretch, initial,
  inherit;

@include mixins.create-property-classes("align-self", $alignItemsType);
